Programming/oldPOCA/POCA/Service References/DatabaseConnection/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbConnectionService_CreateConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnection" />
  </wsdl:message>
  <wsdl:message name="IDbConnectionService_CreateConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDbConnectionService_CloseConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnection" />
  </wsdl:message>
  <wsdl:message name="IDbConnectionService_CloseConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbConnectionService">
    <wsdl:operation name="CreateConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbConnectionService/CreateConnection" message="tns:IDbConnectionService_CreateConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbConnectionService/CreateConnectionResponse" message="tns:IDbConnectionService_CreateConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbConnectionService/CloseConnection" message="tns:IDbConnectionService_CloseConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbConnectionService/CloseConnectionResponse" message="tns:IDbConnectionService_CloseConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbConnectionService" type="tns:IDbConnectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateConnection">
      <soap:operation soapAction="http://tempuri.org/IDbConnectionService/CreateConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <soap:operation soapAction="http://tempuri.org/IDbConnectionService/CloseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbConnectionService">
    <wsdl:port name="BasicHttpBinding_IDbConnectionService" binding="tns:BasicHttpBinding_IDbConnectionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfDatabaseConnection/DatabaseConnection/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>