Programming/newPoca(eroareCreateUser)/POCA/PocaWebsite/Service References/UserServiceController/UserServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="bday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ln" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertUser" nillable="true" type="tns:InsertUser" />
  <xs:complexType name="UpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="bday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ln" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUser" nillable="true" type="tns:UpdateUser" />
</xs:schema>